<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>products</title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css">

</head>

<body>
  {% include 'header.html' %}
  {% include 'messege.html' %}
  {% load static %}
  <div class="container mx-auto ">
    <div class=" grid grid-cols-4  gap-4">

      <div class="">
        <div class=" text-center w-2/3 py-2 mb-2  h-10   rounded bg-purple-400 ">
          <a href="{% url 'products' 'Thriller' %}" class=" text-white font-semibold"> Thriller </a>
        </div>
        <div class=" text-center w-2/3 py-2 mb-2  h-10   rounded bg-purple-400 ">
          <a href="{% url 'products' 'Fictional' %}" class=" text-white font-semibold"> Fictional </a>
        </div>
        <div class=" text-center w-2/3 py-2 mb-2  h-10   rounded bg-purple-400 ">
          <a href="{% url 'products' 'Mystery' %}" class=" text-white font-semibold"> Mystery </a>
        </div>
        <div class=" text-center w-2/3 py-2 mb-2  h-10   rounded bg-purple-400 ">
          <a href="{% url 'products' 'Fantasy' %}" class=" text-white font-semibold"> Fantacy </a>
        </div>
        <div class=" text-center w-2/3 py-2 mb-2  h-10   rounded bg-purple-400 ">
          <a href="{% url 'products' 'Biography' %}" class=" text-white font-semibold"> Biography </a>
        </div>
        <div class=" text-center w-2/3 py-2 mb-2  h-10   rounded bg-purple-400 ">
          <a href="{% url 'products' 'History'%}" class=" text-white font-semibold"> History </a>
        </div>
        
      </div>
      <div class="col-span-3  grid grid-cols-4 gap-4">
        {% for b in book%}


        <div class=" bg-blue-600 rounded bg-purple-200">
          <div class="text-center ">
            <img src="{{b.image.url}}" class=" inline-block h-40">
          </div>
          <div class="p-3">
            <h1 class="font-bold ">{{b.title}}</h1>
            <h1 class="font-semibold "> Category :{{b.category}}</h1>
            <p>{{b.description | truncatewords:5}}</p>
            <p class="font-bold"> Borrowing Price :<span class="font-bold text-red-700">{{b.borrowing_price}} $</span>
            </p>
            <div class="text-center  my-2">
              <a href="{% url 'details' b.id %}"
                class="text-white bg-purple-400 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">details</a>

            </div>


          </div>
        </div>


        {% endfor %}
      </div>
    </div>
  </div>

  {% include 'footer.html' %}

</body>

</html>